<app-navbar></app-navbar>
<div class="col-md-4 offset-md-4 text-center component quienSoy">
    <img class="mb-4 rounded-circle" src="../../../assets/DSC_0043.jpg" alt="" width="250" height="250">
    <div class="card" >
        <div class="card-body">
          <h5 class="card-title">Maximiliano Vargas</h5>
          <p class="card-text">Desarrollador de software, estudiante de la Universidad Tecnologica Nacional</p>
          <a href="#" class="btn btn-danger" > 
            <fa-icon [icon]="faGithub"></fa-icon>
            github</a>
        </div>
      </div>
</div>

